/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
margin-bottom: 15px;
}

.izquierda {
width: 24%;
margin-right: 15px;

}

.derecha {
width: 74%;
}

.abajo1 {
    width: 100%;
    margin-right: 15px;

}
.abajo2 {
    width: 100%;

}
/* Clear floats despues de las columnas para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#ccffdd;
    border: solid;
    border-color: #99ffbb;
}

#c2 {
    background-color:#e6ffff;
    border: solid;
    border-color: #b3ffff;
}
#c3 {
    background-color:#ccffdd;
    border: solid;
    border-color: #99ffbb;
    padding: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

#c4 {
    background-color:#e6ffff;
    border: solid;
    border-color: #b3ffff;
}
.i {
    width: 30%;
    margin-left: 115px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#p1 {
    background-color:#ccffdd;
    border: solid;
    border-color: #99ffbb;
    width: 50%;
    float: right;
    padding: 10px;
}

#p2 {
    background-color:#e6ffff;
    border: solid;
    border-color: #b3ffff;
    width: 50%;
    float: left;
    padding: 10px;
    
}
#p3 {
    background-color:#ccffdd;
    border: solid;
    border-color: #99ffbb;
    width: 50%;
    float: right;
    padding: 10px;
}

#p4 {
    background-color:#e6ffff;
    border: solid;
    border-color: #b3ffff;
    width: 50%;
    float: left;
    padding: 10px;
    
}
#g1 {
    float: right;
}

#g2 {
    float: left;
}
#g3 {
    float: right;
}

#g4 {
    float: left;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }


/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

.enlace {
    color: #000000;
    text-decoration: none;
}
.boton {
    color: #000000;
    text-decoration: none;
    height: 100px;
    width: 200px;
    margin-right: 15px;
}
.lista {
    line-height: 1.5;
    margin-top: 15px;
    
}
.titulo {
    margin: 0px;
    padding: 0px; /* Relleno */
    border:solid;
    border-color: rgb(0, 0, 0);
    margin-bottom: 5px;
    background-color: #cc9901;
    text-align: center;
}
.nombre {
    text-align: center;
}
.exp {
    width: 50%;
    margin-left: 200px;
}

#imghtml {
    margin-bottom: 20px;
}
#imgcss {
    margin-bottom: 20px;
}

.pie {
    margin-top: 75px;
}
.hist {
    width: 30%;
}
body {
    background-image: url(Summoners_Rift_map_s14.webp);
}
/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */